.footerHeader{
  color: white;
}

.footer{
  color : white;
  background-color : #13102C;
  opacity: 0.85;
}

.footerLinks{
  color: whitesmoke;
  background-color: #5a5667;
}

td, th {
  padding: 15px;
  vertical-align: top;
}
.table{
  text-align: left;
  margin: 50px;
}